{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="already-logged-in">
            <p>Oops... Już jesteś zalogowany. Gdy chcesz wejść do innego konta, najpierw się wyloguj.</p>
            <a href="/lynx/lessons" class="btn-primary full">Albo zacznij naukę</a>
        </div>

    {% else %}
        <div class="register-container">
            <div class="form-switch">
                <a href="/lynx/accounts/login" class="btn-primary full">Logowanie</a>
                <a href="/lynx/accounts/register" class="btn-primary">Rejestracja</a>
            </div>

            <form method="POST" class="column-content">

              {% csrf_token %}
                <div class="form-field">
                   {{ form.as_p }}
                </div>

              <button type="submit" class="btn-primary full">Zaloguj się</button>
            </form>
        </div>
    {% endif %}


{% endblock %}