{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load custom_filters %}
    <h2>Gotowy na nową lekcję?</h2>
    <div class="courses-carousel">
        <button class="carousel-btn prev-btn">&lt;</button>

        <div id="scroll-container">
            {% for course in courses %}
                <div class="course-card" data-course-id = {{ course.id }}>

                    <img src="{% static 'brain.png' %}" alt="obrazek mózgu">
                    <h3>{{ course.name }}</h3>

                    <div class="progress-view">
                        <div class="progress-bar">
                            <div class="bar" style="width: {{ progress|dict_get:course.id }}%"></div>
                        </div>
                        <span class="percent">{{ progress|dict_get:course.id }}%</span>
                    </div>

                </div>
            {% endfor %}
        </div>

        <button class="carousel-btn next-btn">&gt;</button>
    </div>

    <script>

    document.addEventListener('DOMContentLoaded', function() {
        const container = document.querySelector('#scroll-container');
        const prevBtn = document.querySelector('.prev-btn');
        const nextBtn = document.querySelector('.next-btn');
        const cards = document.querySelectorAll('.course-card');

        const cardWidth = cards[0] ?cards[0].offsetWidth+parseInt(window.getComputedStyle(cards[0]).marginRight) : 250;

        nextBtn.addEventListener('click', function() {
            container.scrollBy({ left: cardWidth, behavior: 'smooth' });
        });

        prevBtn.addEventListener('click', function() {
            container.scrollBy({ left: -cardWidth, behavior: 'smooth' });
        });

        /*Managing click on course-card so it will show lessons in clicked block*/

        document.querySelectorAll('.course-card').forEach(card =>{
            card.addEventListener('click', () => {
                const courseId = card.dataset.courseId;
                window.location.href = `${courseId}`;

            })
        })
    });

    </script>
{% endblock %}
