{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load custom_filters %}
    <div class="row-content">
        {% include 'up_page.html' %}
        <div>
            <h2>{{ lesson.name}}</h2>
            <div class="landing-page-container">
                <p>
                    {{ lesson.description }}
                </p>
            </div>

        </div>
    </div>


    <div id="question-container">
        {% for question_id in questions_list %}
           {% with question=questions_dict|dict_get:question_id %}
                <div class="course-card question {% if not forloop.first %}hidden{% endif %}"
                     data-question-id = "{{ question.id }}"
                     data-question-type = "{{ question.question_type }}">

                    <h3>{{ question.content }}</h3>

                    <div class="column-content answer-form">
                        <div class="answer-input">
                            {% if question.question_type == 'ABCD' %}
                                {% with variants=question.answer_variants|split_by:"|"%}
                                    {% for variant in variants %}
                                        <input type="radio" id="variant-{{ question.id }}-{{ forloop.counter }}"
                                               name="answer-{{ question.id }}" value="{{ variant }}">
                                        <label for="variant-{{ question.id }}-{{ forloop.counter }}">{{ variant }}</label><br>
                                    {% endfor %}
                                {% endwith %}
{#                                {% include 'lessons/question_types/abcd.html' %}#}
                            {% elif question.question_type == 'W' %}
                                <input name="answer-{{ question.id }}" placeholder="Wpisz swoją odpowiedź..."  class="written-answer" autocomplete="off" value="" autofocus>
{#                                {% include 'lessons/question_types/written.html' %}#}
                            {% elif question.question_type == 'TF' %}
                                <input type="radio" id="true-{{ question.id }}" name="answer-{{ question.id }}"
                                       value="True">
                                <label for="True-{{ question.id }}">Prawda</label><br>
                                <input type="radio" id="true-{{ question.id }}" name="answer-{{ question.id }}"
                                       value="False">
                                <label for="False">Fałsz</label><br>
{#                                {% include 'lessons/question_types/true_false.html' %}#}
                            {% endif %}
                        </div>
                        <button class="btn-primary full check-answer" type="button">Sprawdź odpowiedź</button>
                        <button class="btn-primary full next-question hidden"  type="button" >Dalej</button>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
        const questions = Array.from(document.querySelectorAll(".question"))
        let currentIndex = 0;
        const mistakes = [];

        function showQuestion(index) {
            questions.forEach((q, i) => {
                q.classList.toggle('hidden', i !== index);
                const input = q.querySelector('.written-answer');

                if (input) {
                    if (i === index) {
                        input.setAttribute('autofocus', '');
                        input.focus();
                    } else {
                        input.removeAttribute('autofocus');
                        input.blur();
                    }
                }
            });
        }
        function cloneQuestionElement(original){
            const clone = original.cloneNode(true);
            const checkBtn = clone.querySelector('.check-answer');
            const nextBtn = clone.querySelector('.next-question');

            checkBtn.addEventListener('click', handleCheck(clone, checkBtn, nextBtn));
            nextBtn.addEventListener('click', handleNext);

            const inputs = clone.querySelectorAll('.column-content.answer-form .answer-input input');
            inputs.forEach(input => {
                if (input.type === 'radio') {
                    input.checked = false; // Reset radio buttons
                } else {
                    input.value = '';                    // Wartość DOM
                    input.setAttribute('value', '');     // Atrybut HTML
                    input.defaultValue = '';             // Domyślna wartość
                    input.removeAttribute('value');
                }
            });

            const feedbackElements = clone.querySelectorAll(`[data-question-id="${original.id}"]`);
            feedbackElements.forEach(element => element.remove());

            clone.classList.add('hidden');

            return clone;
        }

        function handleCheck(question, checkBtn, nextBtn){
            return function () {
                const questionId = question.dataset.questionId;
                const questionType = question.dataset.questionType;
                let userAnswer;

                if (questionType === "ABCD" || questionType === "TF") {
                    const selected = question.querySelector('input[type="radio"]:checked');
                    if (!selected) {
                        alert("Wybierz odpowiedź");
                        return;
                    }
                    userAnswer = selected.value;
                } else if (questionType === 'W') {
                    const input = question.querySelector('.written-answer');
                    userAnswer = input.value;
                    if (!userAnswer) {
                        alert("Wpisz odpowiedź.");
                        return;
                    }
                }

                const formData = new FormData();
                formData.append('question_id', questionId);
                formData.append('user_answer', userAnswer);
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

                fetch("{% url 'check_answer_ajax' %}", {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    const feedback = document.createElement('div');
                    feedback.classList.add('answer-result');
                    feedback.style.marginTop = '10px';
                    feedback.innerHTML = data.correct
                        ? "<span style='color:green;'>Poprawna odpowiedź!</span>"
                        : "<span style='color:red;'>Błędna odpowiedź. Poprawna: <strong>" + data["correct-answer"] + "</strong></span>";

                    if (!data.correct) {
                        mistakes.push(questionId);
                        const clone = cloneQuestionElement(question);
                        questions.push(clone);
                        document.getElementById('question-container').appendChild(clone);
                    }

                    const existing = question.querySelector('.answer-result');
                    if (existing) existing.remove();
                    question.appendChild(feedback);

                    question.querySelectorAll('.answer-input input').forEach(input => {
                        input.disabled = true;
                    });


                    checkBtn.classList.add('hidden');
                    nextBtn.classList.remove('hidden');
                });
            };
        }

        function handleNext() {
            currentIndex++;
            if (currentIndex < questions.length) {
                showQuestion(currentIndex);
            } else {
                const result = Math.round(((questions.length - mistakes.length)/ questions.length)*100);
                document.getElementById('question-container').innerHTML = `
                    <h3>Quiz zakończony. Dziękujemy!</h3>
                    <h3>Twój wynik to ${result}%</h3>
                    <p><a href="#" class="btn-primary">Lista lekcji</a></p>
                    <p><a href="#" class="btn-primary full">Następna lekcja</a></p>
                `;

                const resultData = {
                    result : result,
                    questions: questions,
                    lesson_id: {{ lesson.id }},
                    block: {{ lesson.block.id }},
                    mistakes: mistakes,
                    csrfmiddlewaretoken: '{{ csrf_token}}'
                };

                fetch("{% url 'save_user_performance' %}",{
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify(resultData)
                })
                    .then(response => response.json())
                    .then(resultData => {
                        console.log('Results saved:', resultData);
                    })
                    .catch(error => {
                        console.error('Error:', error)
                    });
            }
        }

        questions.forEach((question)=>{
            const checkBtn = question.querySelector('.check-answer');
            const nextBtn = question.querySelector('.next-question');
            checkBtn.addEventListener('click', handleCheck(question, checkBtn, nextBtn));
            nextBtn.addEventListener('click', handleNext);
        });
        showQuestion(currentIndex);
        document.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                const currentQuestion = questions[currentIndex];
                const checkBtn = currentQuestion.querySelector('.check-answer');
                const nextBtn = currentQuestion.querySelector('.next-question');

                event.preventDefault();
                if (!checkBtn.classList.contains('hidden')) {
                    handleCheck(currentQuestion, checkBtn, nextBtn)();
                } else if (!nextBtn.classList.contains('hidden')) {
                    handleNext();
                }
            }
        });
    });
    </script>

{% endblock %}
