{% extends "base.html" %}

{% block content %}
<h1>Zacznij Uczyć Się<br> Białoruskiego</h1>
<p>
    Alfabet, nauka czytania i pisania, potrzebne słownictwo, quizy po każdym skończonym temacie,
    ciekawe teksty dla praktyki czytania – wszystko w jednej aplikacji!
</p>
<a href="#" class="btn-primary full">ZACZNIJ OD REJESTRACJI</a>

<h2>Słowa dnia</h2>
<div class="row-content daily-words">
    {% for word, translation in daily_words%}
        <div>
            <div class="word-box">{{ word }}</div>
            <div class="translation">{{ translation }}</div>
        </div>
    {% endfor %}
</div>
{% endblock %}
